<div>
	Venue name: <input ng-model="newThing.venue" type="text"><br>
  	Street: <input ng-model="newThing.street" type="text"><br>
  	Town: <input ng-model="newThing.town" type="text"><br>
  	Zip: <input ng-model="newThing.zip" type="text"><br>
  	Date: <input ng-model="newThing.date" type="text"><br>
  	Time: <input  ng-model="newThing.time" type="text"><br>
  	Phone: <input ng-model="newThing.phone" type="text"><br>
  	Notes: <input ng-model="newThing.notes" type="text"><br>
  	<input ng-click="addThing()" type="submit" value="Submit">
</div>