<div>
	Venue name: <input ng-model="newShow.venue" type="text"><br>
  	Street: <input ng-model="newShow.street" type="text"><br>
  	Town: <input ng-model="newShow.town" type="text"><br>
  	Zip: <input ng-model="newShow.zip" type="text"><br>
  	Date: <input ng-model="newShow.date" type="text"><br>
  	Time: <input  ng-model="newShow.time" type="text"><br>
  	Phone: <input ng-model="newShow.phone" type="text"><br>
  	Notes: <input ng-model="newShow.notes" type="text"><br>
  	<input ng-click="addShow()" type="submit" value="Submit">
</div>