.trash, .pencil, .ok { color:rgb(209, 91, 71);}

.glyphicon {
	padding-right: 1em;
}
.container {
	height: 20em;
	position: absolute;
	z-index: 100;
	width: 100%;
	margin-top: 10em;
}

.formcontainer {
	width: 50%;
	margin:auto;

	h1 {
		text-align: center;
	}

	h2 {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}
}

.nav-pills li a {
	color: @darkpink !important;
	background: @lightgreen;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: @lightgreen;
    border: 1px solid #DDD;
}

.formcontainer .expressbutton {
	float: right;
}

.smoop a{
	color: red!important;
	background-color: orange !important;
}

select {
	color: @darkpink!important;
	display: inline-block;
	width: 49.5%!important;
}

input[type=date] {
	color: @darkpink!important;
	text-transform: uppercase;
}
label {
	padding-right: 1em;
}

.confirm-listsend {
	background-color: @basegreen;
    padding: 1em;
    width: 23em;
    text-align: center;
    margin-top: 5em;
    margin:auto;
}

.text-muted {
	color: black;
}



