<div ng-include="'components/navbar/navbar.html'"></div>



<div class="container">
<h1>Welcome&nbsp;{{loginName}}</h1>
<!--START MENU-->
   <section>
     <ul class="nav nav-pills" ng-repeat="item in adminMenu" style="display: inline-block;">
        <li role="presentation"><a ng-click="adminLocation(item)" href="/admin">{{item.title}}</a></li>
    </ul>  
  </section>
  <br>
<!--END MENU-->
  <section ng-show="isVisible == 'adduser'" >
    <h1>Add/Remove Users</h1>
    <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="user in users">
          <strong>{{user.name}}</strong><br>
          <span class="text-muted">{{user.email}}</span>
          <br>
          <span class="text-muted">role:&nbsp;{{user.role}}</span>
          <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
      </li>
    </ul>

    <div>
       <input class="expressinput" placeholder="Name" type="text" name="name" value="your name" ng-model="user.name"><br>
       <input class="expressinput" placeholder="Email" type="text" name="mail" value="your email" ng-model="user.email"><br>
       <input class="expressinput" placeholder="Password" type="password" name="mail" value="your email" ng-model="user.password"><br>
       <select class="expressinput" ng-model="user.role" name="time" id="time">
        <option value="" selected>Select Role</option>
        <option value="user">User</option>
        <option value="admin">Admin</option>
       </select>
        <input class="expressbutton" type="submit" value="Send" ng-click="register(form)">
    </div>
  </section>

  <section class="formcontainer" ng-show="isVisible == 'addshow'">
  <h1>Add a new show</h1>
  <div>
    <input class="expressinput" placeholder="Venue Name" ng-model="newShow.venue" type="text"><br>
      <input class="expressinput" placeholder="Street" ng-model="newShow.street" type="text"><br>
      <input class="expressinput" placeholder="Town" ng-model="newShow.town" type="text"><br>
     <input class="expressinput" placeholder="Zip" ng-model="newShow.zip" type="text"><br>
     <input class="expressinput" placeholder="Date"type= "date" name = "simple_date" ng-model="newShow.date" onfocus="(this.type='date')" onblur="(this.type='text')"/><br>
     <select class="expressinput" ng-model="newShow.startTime" name="time" id="time">
      <option value="" selected>Start Time</option>
    <option value="5:00 AM">5:00 AM</option>
    <option value="5:15 AM">5:15 AM</option>
    <option value="5:30 AM">5:30 AM</option>
    <option value="5:45 AM">5:45 AM</option>
   
    <option value="6:00 AM">6:00 AM</option>
    <option value="6:15 AM">6:15 AM</option>
    <option value="6:30 AM">6:30 AM</option>
    <option value="6:45 AM">6:45 AM</option>
   
    <option value="7:00 AM">7:00 AM</option>
    <option value="7:15 AM">7:15 AM</option>
    <option value="7:30 AM">7:30 AM</option>
    <option value="7:45 AM">7:45 AM</option>
   
    <option value="8:00 AM">8:00 AM</option>
    <option value="8:15 AM">8:15 AM</option>
    <option value="8:30 AM">8:30 AM</option>
    <option value="8:45 AM">8:45 AM</option>
   
    <option value="9:00 AM">9:00 AM</option>
    <option value="9:15 AM">9:15 AM</option>
    <option value="9:30 AM">9:30 AM</option>
    <option value="9:45 AM">9:45 AM</option>
   
    <option value="10:00 AM">10:00 AM</option>
    <option value="10:15 AM">10:15 AM</option>
    <option value="10:30 AM">10:30 AM</option>
    <option value="10:45 AM">10:45 AM</option>
   
    <option value="11:00 AM">11:00 AM</option>
    <option value="11:15 AM">11:15 AM</option>
    <option value="11:30 AM">11:30 AM</option>
    <option value="11:45 AM">11:45 AM</option>
   
    <option value="12:00 PM">12:00 PM</option>
    <option value="12:15 PM">12:15 PM</option>
    <option value="12:30 PM">12:30 PM</option>
    <option value="12:45 PM">12:45 PM</option>
   
    <option value="1:00 PM">1:00 PM</option>
    <option value="1:15 PM">1:15 PM</option>
    <option value="1:30 PM">1:30 PM</option>
    <option value="1:45 PM">1:45 PM</option>
   
    <option value="2:00 PM">2:00 PM</option>
    <option value="2:15 PM">2:15 PM</option>
    <option value="2:30 PM">2:30 PM</option>
    <option value="2:45 PM">2:45 PM</option>
   
    <option value="3:00 PM">3:00 PM</option>
    <option value="3:15 PM">3:15 PM</option>
    <option value="3:30 PM">3:30 PM</option>
    <option value="3:45 PM">3:45 PM</option>
   
    <option value="4:00 PM">4:00 PM</option>
    <option value="4:15 PM">4:15 PM</option>
    <option value="4:30 PM">4:30 PM</option>
    <option value="4:45 PM">4:45 PM</option>
   
    <option value="5:00 PM">5:00 PM</option>
    <option value="5:15 PM">5:15 PM</option>
    <option value="5:30 PM">5:30 PM</option>
    <option value="5:45 PM">5:45 PM</option>
   
    <option value="6:00 PM">6:00 PM</option>
    <option value="6:15 PM">6:15 PM</option>
    <option value="6:30 PM">6:30 PM</option>
    <option value="6:45 PM">6:45 PM</option>
   
    <option value="7:00 PM">7:00 PM</option>
    <option value="7:15 PM">7:15 PM</option>
    <option value="7:30 PM">7:30 PM</option>
    <option value="7:45 PM">7:45 PM</option>
   
    <option value="8:00 PM">8:00 PM</option>
    <option value="8:15 PM">8:15 PM</option>
    <option value="8:30 PM">8:30 PM</option>
    <option value="8:45 PM">8:45 PM</option>
   
    <option value="9:00 PM">9:00 PM</option>
    <option value="9:15 PM">9:15 PM</option>
    <option value="9:30 PM">9:30 PM</option>
    <option value="9:45 PM">9:45 PM</option>
   
    <option value="10:00 PM">10:00 PM</option>
    <option value="10:15 PM">10:15 PM</option>
    <option value="10:30 PM">10:30 PM</option>
    <option value="10:45 PM">10:45 PM</option>
   
    <option value="11:00 PM">11:00 PM</option>
    <option value="11:15 PM">11:15 PM</option>
    <option value="11:30 PM">11:30 PM</option>
    <option value="11:45 PM">11:45 PM</option>
    </select>
    <select class="expressinput" ng-model="newShow.endTime" name="time" id="time">
      <option value="" selected>End Time</option>
    <option value="5:00 AM">5:00 AM</option>
    <option value="5:15 AM">5:15 AM</option>
    <option value="5:30 AM">5:30 AM</option>
    <option value="5:45 AM">5:45 AM</option>
   
    <option value="6:00 AM">6:00 AM</option>
    <option value="6:15 AM">6:15 AM</option>
    <option value="6:30 AM">6:30 AM</option>
    <option value="6:45 AM">6:45 AM</option>
   
    <option value="7:00 AM">7:00 AM</option>
    <option value="7:15 AM">7:15 AM</option>
    <option value="7:30 AM">7:30 AM</option>
    <option value="7:45 AM">7:45 AM</option>
   
    <option value="8:00 AM">8:00 AM</option>
    <option value="8:15 AM">8:15 AM</option>
    <option value="8:30 AM">8:30 AM</option>
    <option value="8:45 AM">8:45 AM</option>
   
    <option value="9:00 AM">9:00 AM</option>
    <option value="9:15 AM">9:15 AM</option>
    <option value="9:30 AM">9:30 AM</option>
    <option value="9:45 AM">9:45 AM</option>
   
    <option value="10:00 AM">10:00 AM</option>
    <option value="10:15 AM">10:15 AM</option>
    <option value="10:30 AM">10:30 AM</option>
    <option value="10:45 AM">10:45 AM</option>
   
    <option value="11:00 AM">11:00 AM</option>
    <option value="11:15 AM">11:15 AM</option>
    <option value="11:30 AM">11:30 AM</option>
    <option value="11:45 AM">11:45 AM</option>
   
    <option value="12:00 PM">12:00 PM</option>
    <option value="12:15 PM">12:15 PM</option>
    <option value="12:30 PM">12:30 PM</option>
    <option value="12:45 PM">12:45 PM</option>
   
    <option value="1:00 PM">1:00 PM</option>
    <option value="1:15 PM">1:15 PM</option>
    <option value="1:30 PM">1:30 PM</option>
    <option value="1:45 PM">1:45 PM</option>
   
    <option value="2:00 PM">2:00 PM</option>
    <option value="2:15 PM">2:15 PM</option>
    <option value="2:30 PM">2:30 PM</option>
    <option value="2:45 PM">2:45 PM</option>
   
    <option value="3:00 PM">3:00 PM</option>
    <option value="3:15 PM">3:15 PM</option>
    <option value="3:30 PM">3:30 PM</option>
    <option value="3:45 PM">3:45 PM</option>
   
    <option value="4:00 PM">4:00 PM</option>
    <option value="4:15 PM">4:15 PM</option>
    <option value="4:30 PM">4:30 PM</option>
    <option value="4:45 PM">4:45 PM</option>
   
    <option value="5:00 PM">5:00 PM</option>
    <option value="5:15 PM">5:15 PM</option>
    <option value="5:30 PM">5:30 PM</option>
    <option value="5:45 PM">5:45 PM</option>
   
    <option value="6:00 PM">6:00 PM</option>
    <option value="6:15 PM">6:15 PM</option>
    <option value="6:30 PM">6:30 PM</option>
    <option value="6:45 PM">6:45 PM</option>
   
    <option value="7:00 PM">7:00 PM</option>
    <option value="7:15 PM">7:15 PM</option>
    <option value="7:30 PM">7:30 PM</option>
    <option value="7:45 PM">7:45 PM</option>
   
    <option value="8:00 PM">8:00 PM</option>
    <option value="8:15 PM">8:15 PM</option>
    <option value="8:30 PM">8:30 PM</option>
    <option value="8:45 PM">8:45 PM</option>
   
    <option value="9:00 PM">9:00 PM</option>
    <option value="9:15 PM">9:15 PM</option>
    <option value="9:30 PM">9:30 PM</option>
    <option value="9:45 PM">9:45 PM</option>
   
    <option value="10:00 PM">10:00 PM</option>
    <option value="10:15 PM">10:15 PM</option>
    <option value="10:30 PM">10:30 PM</option>
    <option value="10:45 PM">10:45 PM</option>
   
    <option value="11:00 PM">11:00 PM</option>
    <option value="11:15 PM">11:15 PM</option>
    <option value="11:30 PM">11:30 PM</option>
    <option value="11:45 PM">11:45 PM</option>
    </select>
      <br>
    <input class="expressinput" phone-input placeholder="Phone" ng-model="newShow.phone" name="phone" type="text"><br>
      <input class="expressinput" placeholder="Notes" ng-model="newShow.notes" type="text"><br>
      <input class="expressbutton" ng-click="addShow()" type="submit" value="Submit">
  </div>
  <br><br><br><br>
  <h1>View and edit existing shows</h1>
  <ul class="list-group">
    {{showdate.updateMode}}
      <li class="list-group-item" ng-repeat="showdate in showdates">
          <strong ng-hide="showdate.updateMode">{{showdate.venue}}</strong><input ng-show="showdate.updateMode" type="text" name="editinput" ng-model="showdate.venue"><br>
          <span ng-hide="showdate.updateMode"class="text-muted">{{showdate.street}}</span><input ng-show="showdate.updateMode"  type="text" name="editinput" ng-model="showdate.street"><br>
          <br>
          <span ng-hide="showdate.updateMode" class="text-muted">{{showdate.town}}</span><input ng-show="showdate.updateMode" type="text" name="editinput" ng-model="showdate.town"><br>
          <br>
          <span ng-hide="showdate.updateMode"class="text-muted">{{showdate.zip}}</span><input ng-show="showdate.updateMode" type="text" name="editinput" ng-model="showdate.zip"><br>
          <br>
          <span ng-hide="showdate.updateMode" class="text-muted">{{showdate.date | date:'EEEE MMM d, y'}}</span><input ng-show="showdate.updateMode" type="text" name="editinput" ng-model="showdate.date"><br>
          <br>
          <span ng-hide="showdate.updateMode" class="text-muted">{{showdate.startTime}}-{{showdate.endTime}}</span><input ng-show="showdate.updateMode" type="text" name="editinput" ng-model="showdate.startTime">-<input ng-show="showdate.updateMode" type="text" name="editinput" ng-model="showdate.endTime"><br>
          <br>
          <span ng-hide="showdate.updateMode" class="text-muted">{{showdate.phone | tel}}</span><input ng-show="showdate.updateMode" type="text" name="editinput" ng-model="showdate.phone"><br>
          <br>
          <span ng-hide="showdate.updateMode" class="text-muted">{{showdate.notes}}</span><input ng-show="showdate.updateMode" type="text" name="editinput" ng-model="showdate.notes"><br>
          <a ng-click="deleteShow(showdate._id)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a><br><br>
          <a ng-hide="showdate.updateMode" ng-click="setUpdateMode(showdate)" class="pencil"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
          <a ng-show="showdate.updateMode" ng-click="upDateRecord(showdate)" class="ok"><span class="glyphicon glyphicon-ok pull-right"></span></a><br>
      </li>
 </ul>
</section>

<section class="formcontainer" ng-show="isVisible == 'emailfans'">
  
  <h1>Send e-mail to<br>mailing list</h1>

  <div>
    <input class="expressinput" placeholder="Name" type="text" name="name" value="your name" ng-model="email.name"><br>
    <input class="expressinput" placeholder="Email" type="text" name="mail" value="your email" ng-model="email.address"><br>
    <input class="expressinput" placeholder="Subject" type="text" name="name" value="your subject" ng-model="email.subject"><br>
    <input class="expressinput" placeholder="Comment" type="text" name="comment" value="your comment" size="50" ng-model="email.message"><br><br>
    <input class="expressbutton" type="submit" value="Send" ng-click="emailUser()">
  </div>

</section>

</div>