
<section class="formcontainer">
	
	<h1>Send e-mail to mailing list</h1>

	<div>
		<input class="expressinput" placeholder="Name" type="text" name="name" value="your name" ng-model="email.name"><br>
		<input class="expressinput" placeholder="Email" type="text" name="mail" value="your email" ng-model="email.address"><br>
		<input class="expressinput" placeholder="Subject" type="text" name="name" value="your subject" ng-model="email.subject"><br>
		<input class="expressinput" placeholder="Comment" type="text" name="comment" value="your comment" size="50" ng-model="email.message"><br><br>
		<input class="expressbutton" type="submit" value="Send" ng-click="emailUser()">
	</div>

</section>