<h2>Send e-mail to someone@example.com:</h2>

<div>
	Name:<br>
	<input type="text" name="name" value="your name" ng-model="email.name"><br>
	E-mail:<br>
	<input type="text" name="mail" value="your email" ng-model="email.address"><br>
	Subject:<br>
	<input type="text" name="name" value="your subject" ng-model="email.subject"><br>
	Comment:<br>
	<input type="text" name="comment" value="your comment" size="50" ng-model="email.message"><br><br>
	<input type="submit" value="Send" ng-click="emailUser()">
</div>