
<div ng-include="'components/navbar/navbar.html'"></div>


<div class="pagewrapper">
  <section class="row">
    <div class="col-sm-7">
      <img class="train" src="../assets/images/train.png" alt="">
    </div>
    <div class="col-sm-5">
      <img class="welcome" src="../assets/images/welcome.svg" alt="">
    </div>
  </section>

  <section class="row">
    <div class="col-sm-12">
        <div class="checkers"></div>
    </div>
   </section>

   <section class="row">
    <div class="col-sm-7">
      <img class="joinmailimg" src="../assets/images/joinmail.svg" alt="">
    </div>
    <div class="col-sm-5">
      <div class="jointext">
        <p>We’ll email you a few days in advance when, where and
           what time we’ll be playing a show.</p>

        <p>We will never sell any
        information that you provide  us to any third party.</p>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col-sm-12">
      <div class="maillistform ">
        <div class="col-sm-5">
          <input class="expressinput" type="text" name="name" value="your name" placeholder="Name" ng-model="email.name"><br>
        </div>
        <div class="col-sm-5">
          <input class="expressinput" type="text" name="name" value="your name" placeholder="Email" ng-model="email.name"><br>
        </div>
        <div class="col-sm-2">
          <input class="expressbutton" type="submit" value="Send" ng-click="emailUser()">
        </div>
      </div>
    </div>
  </section>






  <footer class="footer">
    <div class="container">
        <p>Angular Fullstack v2.0.13 |
          <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
           <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
    </div>
  </footer>
</div>
