@basepink: #d8a98d;
@basegreen: #75b692;
@lightgreen: #a4d2c6;
@bodytext: #464646;
@darkpink: #9e776a;



@font-face {
  font-family: 'LucidaHandwriting-Italic';
  src: url('../assets/fonts/LucidaHandwriting-Italic.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/LucidaHandwriting-Italic.woff') format('woff'), url('../assets/fonts/LucidaHandwriting-Italic.ttf')  format('truetype'), url('../assets/fonts/LucidaHandwriting-Italic.svg#LucidaHandwriting-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 {
    font-family:'LucidaHandwriting-Italic';
    color:@basegreen;
    text-shadow: 2px 1px 0px rgba(76, 129, 88, 1);
    padding-bottom: .75em;
}

h3 {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 400;
}

span {
    font-weight: bold;
    font-family: 'HelveticaNeue';
}

textarea {
    background-color: none !important;
    background: none;
    margin-top: 1em;
    border-color: @basegreen;
    width: 100%;
    height: 20em;
}

hr {
    border-color: @basegreen;
}

.thing-form {
  margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

html {
    font-size: 14px;
    overflow-x: hidden;
}

body {
    background: url("../assets/images/bg_paper.jpg");
    background-repeat: repeat-x repeat-y;
}

nav {
    display: block;  
    width: 100%;
    height: 3em;
    // margin-top: 7em;
    font-weight: 500;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.2em;
    color: #464646 !important;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-color: @basegreen;
    background: url("../assets/images/nav_bg_paper.jpg")!important;
    background-repeat: repeat-x;
}

.pagewrapper {
    margin-top: 9em;
}

//  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { 
    
// }
a.active {
    background:rgba(117,182,146,.8) !important;
    color:black !important;
}

// .navbar-default .navbar-nav > li > a:focus {
//     background:rgba(117,182,146,.8);
// }

ul {
    margin-left: 2.5em !important;
}

.navbar-header {

}

.navbar-brand {
    // margin: 1.5em 0 0 2em;
    width: 12em;
    height: 4em;
    background: url("../assets/images/express_logo.png");
    background-repeat: no-repeat;
    background-size:11.5em;
}

.navbar-default { 
    background: url("../assets/images/bg_paper.jpg")!important;
    background-repeat: repeat-x;
    position:fixed;
    width: 100%;
}
 .navbar-static-top {
    border:none;
    // height: 9.5em;
    height: 4em;
}

.train {
     width: 100%;
}

.welcome {
    position: relative;
    width: 100%;
}
.checkers {
    width: 100%;
    height: 3.1em;
    background: url("../assets/images/checker.svg");
    background-repeat: repeat-x repeat-y;
    background-size: 1.7em;
    opacity: .60;
}
.joinmailimg {
    margin-top: 2.5em;
    margin-left: 2.6em;
    width: 35em; 
    opacity: .60;
}
.jointext {
    font-size: 1.1em;
    text-align: left;
    margin-top: 2.5em;
    padding-right: 2.5em;
}
.jointext p {
    color: @bodytext;
}

.maillistform {
    width: 35em;
    margin-left: 2.6em;
}
.expressinput {
    width: 100%;
    margin-top: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: @basegreen;
    background: none;
    height: 2.25em;
    padding-left: .5em;
}

::-webkit-input-placeholder {
   color: @darkpink;
}

:-moz-placeholder { /* Firefox 18- */
   color: @darkpink; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: @darkpink; 
}

:-ms-input-placeholder {  
   color: @darkpink;  
}

.expressbutton {
    margin-top: 1em;
    height: 2.25em;
    border-style: solid;
    border: none;
    color: @darkpink;
    background: @basepink;
    padding: 0 1em 0 1em
}

.expressbuttonvalid {
    background: @basegreen;
    color: @lightgreen;
}

.car {
    margin-top: 10em;
    position:absolute;
    width: 45em;
    right: 0;
}

.welcome-text {
    margin-top: 10em;
    width: 100%;
    height: 60em;
    margin-left: 3em;
}

.jukebox {
 margin-top: 10em;
 width: 27em;
}

.about-text {
    margin-top: 10em;
    padding-right: 3em;
}

.guitar {
    width: 35em;
    position: absolute;
    right: 6em;
    margin-top: 10em;
}

.show-text {
    margin-left: 3em;
    height: 130em;
    margin-top: 10em;
}

.show-details {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important; 
   font-weight: lighter !important;
}

.mic {
    margin-top: 10em;
    width: 30em;
}

.contact-text {
    margin-top: 10em;
    padding-right: 3em;
}

.footer {
    margin-top: 0;
    height: 10em;
    background: rgba(117,182,146,.5);
    width: 100%;
    bottom:0;
    border-top: none;
}

.contact_submit {
    float: right;
}

.help-block {

}
@media (max-width: 768px) {
    .train {
        display: none;
    }
    .welcome {
          display: inherit;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 1em;
    }
    .navbar-collapse {

        background-color: white;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .train {
        width: 100%;
    }
    .welcome {
        opacity: 1;
        width: 100%;
    }
}