
@font-face {
  font-family: 'LucidaHandwriting-Italic';
  src: url('LucidaHandwriting-Italic.eot?#iefix') format('embedded-opentype'),  url('LucidaHandwriting-Italic.woff') format('woff'), url('LucidaHandwriting-Italic.ttf')  format('truetype'), url('LucidaHandwriting-Italic.svg#LucidaHandwriting-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
